body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
    color: white;
    background-color: #0d1117;
    width: 100%
    
}

.headercontainer{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 2%;
    flex-shrink: 0;
}
.header a {
    display: flex;
    font-size: 150%;
    font: Helvetica;
    flex-shrink: 0;
    text-decoration: none;

}
.header a:hover {
    display: flex;
    color: rgb(0, 129, 215);
    cursor: pointer;
    text-decoration: none;
    font-size: 150%;
    flex-shrink: 0;
    
}

.LogoMain {
    display: flex;
    height: 30px;
    padding-left: 2%;
}

.Content {
    display: flex;
    gap: 30%;
    padding-left: 58%
    
}

